extends ../page

block content
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat pulvinar lobortis. Nullam molestie enim et sapien venenatis suscipit gravida justo lacinia. Cras vehicula felis aliquet sapien viverra vulputate. Pellentesque a felis at nisl ornare consectetur. Aliquam erat volutpat. In metus sapien, tincidunt vel rhoncus eget, posuere id massa. Ut quam nisi, molestie in faucibus et, cursus nec risus. Sed erat risus, egestas a cursus sed, mattis at justo. Fusce rutrum imperdiet magna vitae porta.
