.navbar.navbar-fixed-top
  .navbar-inner
      .container
        a.brand(href="/")= title
        .nav-collapse
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/product/list") Product Listing
            li
              a(href="/product/view") Feature product
            li
              a(href="/basket/view") Go to basket
            li
              a(href="/checkout/view") Go to checkout
